<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h1>Welcome to Rock Paper Scissors:</h1>
    <form action="/game" method="post">
      <div class="">
        <p>Player 1 select your choice:</p>
        <select name="user1Choice">
          <option name="user1Choice" value="1">Rock</option>
          <option name="user1Choice" value="2">Paper</option>
          <option name="user1Choice" value="3">Scissors</option>
        </select>
      </div>
      <div class="">
        <p>Player 2 select your choice:</p>
        <select name="user2Choice">
          <option name="user2Choice" value="1">Rock</option>
          <option name="user2Choice" value="2">Paper</option>
          <option name="user2Choice" value="3">Scissors</option>
        </select>
      </div>
      <button type="submit">Click</button>
    </form>
  </body>
</html>
